body{
    background-color: #020035;
}

canvas {
border:1px solid black;
background-image: url('../media/water.jpg');
}

button{
background-color: seagreen;
color: #1E2F97;
border-color:darkseagreen;
}

h1, h2{
color:darkcyan;
}