body{
    background: url("../media/coralReef.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}

@media (max-width: 768px) {
    body {
        background: url("../media/reef.jpg");
    }
}

h1{
    background-color:cadetblue;
    border-radius:10px;
}

ul{
    list-style-type:none;
}
